*
{
    padding: 0;
    margin: 0;
}

.container
{ background-color:transparent ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
border:5px white ;
}
.nav-link
{
    color: white;
    margin-left: 50px;
    
}
.nav-link.active
{
    font-weight: bolder;
    color: grey;
}
.nav-link.dropdown-toggle.active
{
    font-weight: bolder;
    color: grey;
}
.dropdown-item.nav-link.active
{
    font-weight: bolder;
    color: grey;

}
.navbar-brand
{
    color: whitesmoke;
    font-size: larger;
    pointer-events: none;
    font-size: 30px;
}
.login-button
{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
    width: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Wrapper
{
    margin: 75px auto;
    border-radius : 20px;
    padding-top: 75px;
    padding-bottom:75px;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}
.images-png
{
    width: 100%;
    height: 50%;
    position: absolute;
    display: block;
    top:20%;
    z-index:-2;
    
}
.Title
{
    color: whitesmoke;
    font-size: larger;
    pointer-events: none;
    text-align : center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.custom-button
{
    color: black;
    background-color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
}
.form-group
{
    padding: 20px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
body{
    background-color: black;
}
.image-of-me
{
    width: 35%;
    height: auto;
    
}
.Introduction
{
    width: 50%;
    
    

}
.About-me
{
    color:white ;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.image{
    width:90%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.About-me h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: whitesmoke;
    margin-bottom: 10px;
 

}
.About-me h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
    

}
.more
{
    background-color: white;
    width: 100%;
    padding: 80px;
}
.topic h2
{
    text-align: center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 60px;

}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;


}
.card
{
    height: 300px;
    width: 320px;
    padding: 15px 30px;
    background: whitesmoke;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.paragraph
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.Welcome
{
    background: white;
    padding: 0%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.topsection
{
    background-color: black;
    text-align: center;
    padding:20px;
    border:white double;
}
.name
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 0px;
}
.name2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: grey;
    margin-bottom: 0px;
}
.occupation
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 10px;
}
.col-div-4
{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    width: 40%;
    float: left;
}
.head
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    
}
.col-div-8
{
    width: 59%;
    float: left;
    background-color: white;
    height: 90%;

}
.line 
{
    border-left: 2px black;
    height: 900px ;
    width: 0.2%;
    margin-top: 20px;
    float: left;
}
.content
{
    padding:15px;
}
.details
{
    color:grey;
    margin-bottom: 0%;
    margin-left: 20%;
}
.education
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-decoration: underline;
    text-transform: capitalize;

}
.carousel-item
{
    height: 32rem;
    background: grey;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;

}
.slide-button
{
    color: black;
    background-color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 20%;
    margin-left: 45%;

}
.container2
{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding-bottom: 50px;
}
.container2 h2{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.GeneralInfo
{
    margin-top: 60%;
}
.information
{  
    margin-top: 5%;
}
.carousel-indicators
{
    height: 45%;
}
#movies-wrapper {
    max-width: 30%; 
    margin: 0 auto;
    margin-left: 0%;
    padding: 20px;
    position: absolute;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#baking-wrapper
{
    max-width: 30%; 
    margin: 0 auto;
    margin-left: 35%;
    padding: 20px;
    position: absolute;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: white;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.baking p
{
    font-weight: bold;
}
#planets-wrapper
{
    max-width: 30%; 
    margin: 0 auto;
    margin-left: 70%;
    padding: 20px;
    position: absolute;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: white;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.space p
{
    font-weight: bold;
}
.cityimages
{
    height: 10%;
    margin-left: 20%;
    margin-right: 20;
    width: 60%;  
}
.heritagedetails
{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    margin-left: 0%;
    margin-top: 0%;
    font-size: 20px;
}

.Heritage h2{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 60px;
}
.Tourism img
{
        max-width: 45%; 
        height: auto;
        border-radius: 10px;
}
.Tourism
{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}
.Hobbies
{
    display: flex;
            justify-content: space-between;
            gap: 10px; 
            font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 20px;

}
.Hobbies img {
 
    width: 50%; 
    height: 80%;
    border-radius: 10px;
}




