*
{
    padding: 0;
    margin: 0;
}

.container
{ background-color:pink ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
border:5px #521078 double;
}
.nav-link
{
    color: #521078;
    margin-left: 50px;
}
.navbar-brand
{
    color: #521078;
    font-size: larger;
    pointer-events: none;
}
.login-button
{
    color: black;
    background-color: #a94055;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
    width: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Wrapper
{
    margin: 75px auto;
    border-radius : 20px;
    padding-top: 75px;
    padding-bottom:75px;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: #a94055;
}
.images-png
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top:50%;
    z-index:-2;
    
}
.Title
{
    color: black;
    font-size: larger;
    pointer-events: none;
    text-align : center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.custom-button
{
    color: black;
    background-color: #a94055;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
}
.form-group
{
    padding: 20px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
body{
    background-color: #ffb7c2;
}

    
