*
{
    padding: 0;
    margin: 0;
}

.container
{ background-color:pink ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
border:5px #521078 double;
}
.nav-link
{
    color: #521078;
    margin-left: 50px;
}
.navbar-brand
{
    color: #521078;
    font-size: larger;
    pointer-events: none;
}
.login-button
{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
    width: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Wrapper
{
    margin: 75px auto;
    border-radius : 20px;
    padding-top: 75px;
    padding-bottom:75px;
    box-shadow: 0 0 50px 2px rgba(100,40,60,015);
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}
.images-png
{
    width: 100%;
    height: 50%;
    position: absolute;
    display: block;
    top:20%;
    z-index:-2;
    
}
.Title
{
    color: whitesmoke;
    font-size: larger;
    pointer-events: none;
    text-align : center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.custom-button
{
    color: black;
    background-color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
}
.form-group
{
    padding: 20px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
body{
    background-color: black;
}
.image-of-me
{
    width: 35%;
    height: auto;
    
}
.Introduction
{
    width: 50%;
    
    

}
.About-me
{
    color:white ;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.image{
    width:90%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.About-me h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: whitesmoke;
    margin-bottom: 10px;
 

}
.About-me h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
    

}
.more
{
    background-color: white;
    width: 100%;
    padding: 80px;
}
.topic h2
{
    text-align: center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 60px;

}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;


}
.card
{
    height: 300px;
    width: 320px;
    padding: 15px 30px;
    background: whitesmoke;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.paragraph
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.Welcome
{
    background: white;
    padding: 0%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}





    
